################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WeaponThread/v15
/.vs/WeaponThread/v16/Server/sqlite3/db.lock
Textures/Models/Cubes/psE959.tmp
